#container{
  width:90%;
  margin:auto;
}

#news{
  width:70%;
  margin:auto;
}

.ui.segment.news{
  background-color:rgba(250,250,250,0.3);
}

#main{
  width:80%;
  margin:auto;
}

p{
  text-align:justify;
}
