<div id="navtop">

  <div class="ui centered grid">
    <div class="center aligned column">
      <div class="ui secondary pointing compact stackable menu">
        <a class="item {{ui_ctrl.index}}" href="{% url 'index' %}">
          <i class="home icon"></i>
          Home
        </a>
        <a class="item {{ui_ctrl.teacher}}" href={% url 'teacher' %}>
          <i class="blue user icon"></i>
          Teacher
        </a>
        <a class="item {{ui_ctrl.publications}}" href="{% url 'publications' %}">
          <i class="yellow book icon"></i>
          Publications
        </a>
        <a class="item {{ui_ctrl.members}}" href={% url 'members' %}>
          <i class="teal users icon"></i>
          Lab Members
        </a>
        <a class="item {{ui_ctrl.research}}" href={% url 'research' %} >
          <i class="red lab icon"></i>
          Research
        </a>
        <a class="item {{ui_ctrl.links}}" href={% url 'links' %} >
          <i class="brown external square icon"></i>
          Links
        </a>
      </div>
    </div>
  </div>
</div>
