<div id="navtop">
  <h1 class="ui header" id="lab_title">Space Geodesy Lab</h1>
  <p>National Chiao Tung University, Civil Engineering</p>
  <div class="ui secondary pointing stackable menu">
    <a class="item {{ui_ctrl.index}}" href="{% url 'index' %}">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item {{ui_ctrl.members}}" href={% url 'members' %}>
      <i class="users icon"></i>
      Members
    </a>
    <a class="item {{ui_ctrl.research}}" href={% url 'research' %} >
      <i class="lab icon"></i>
      Research
    </a>
  </div>
</div>
