
#navtop{
  margin-left:2em;
}

.ui.small.image{
  width:250px;
}

.info{
  position: relative;
}
.contact{
  margin-top:1em;
}

.research_topic{
  margin-top:1em;
  margin-bottom:1em;
}

.ui.transparent.table{
  background-color:transparent;
}
