{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_head%}
  <link href={% static "css/members.css" %} rel="stylesheet">
{% endblock %}

{% block content %}
<div class="ui segment">
  {% for group in member_groups %}
  <div class="ui dividing header">{{group.title}}</div>
  <div class="ui four column grid">
    {% for member in group.members %}
    <div class="column">
      <div class="ui card">
        <div class="image">
          <img src={{member.photo.url}}>
        </div>
        <div class="content">
          <a class="header">{{member.name_en}}({{member.name_ch}})</a>
          <div class="meta">
            <span>
              <p>{{member.highest_edu_en}}</p>
              <p>{{member.highest_edu_ch}}</p>
            </span>
          </div>
          <div class="description">
            <p>Research Topic</p>
            <p>{{member.research_topic}}</p>
          </div>
        </div>
        <div class="extra content">
          <p><a href="mailto:{{member.email}}">
            <i class="mail icon"></i>
            {{member.email}}
          </a></p>
          <p>
            <i class="phone icon"></i>
            {{member.tel}} #{{member.ext}}
         </p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
</div>
{% endblock %}
